.bienvenida {
    background-color: rgb(250, 230, 230);
}

.labellock {
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
}

.banner-principal {
    background-image: url("/images/banner_principal.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
